.navbar {
  list-style:none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin-bottom: 20px;
}

.navbar li {
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.2s;
}

.navbar li:hover {
  color: #0070f3;
}

.lightHeader {
  background-color: #f9f9f9;
  color: #333;
}

.darkHeader {
  background-color: #333;
  color: #f9f9f9;
}